<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Export Plans</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('.racedate-form').submit(function() {
          $('#racedate-modal').modal('hide');
        });
      });

      function showRacedateModal() {
        $('#racedate-modal').modal('show');
      }

      function showgooglecallink() {
        $('#googlecal-link').show();
      }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class='container-fluid'>
    <!-- Modal -->
    <div class="modal fade" id="racedate-modal" tabindex="-1" role="dialog" aria-labelledby="racedateLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="racedateLabel">Enter the date of your race</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="racedate-form" method="GET" action=<%"/"+plan%>>
              <div class="form-group">
                <input type="date" name="racedate" required>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1"><a href="/">Export a Hal Higdon plan</a></span>
    </nav>
    <div class="row"  style="margin-top:2%">
      <div class="col-sm-5 text-center" >
        <% details.each do |plan_name, detail| %>
          <div  style="margin: 5% 15% 5% 15%" class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn btn-primary" href=<%="/"+plan_name%>><%= detail['table_title']%></a>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href=<%="/"+plan_name%>>Original Grid</a>
                <a class="dropdown-item" onclick="showRacedateModal()">Grid for Race Date</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-7">
        <div class="card text-center" style="width: 90%;">
          <h3 class="card-header">
            <span style="margin-left:10%"><%= table_title %></span>
            <div class="btn-group float-right   " role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <% if racedate != '' %>
                <a class="dropdown-item" href=<%="/"+plan+"?csv=true&racedate="+racedate%>>Export as CSV</a>
                <a class="dropdown-item" onclick="showgooglecallink()" href=<%="/"+plan+"?csv=true&calendar=true&racedate="+racedate%>>Export as Google calendar-importable CSV</a>
                <% else %>
                <a class="dropdown-item" href=<%="/"+plan+"?csv=true"%>>Export as CSV</a>
                <% end %>
              </div>
            </div>
          </h3>
          <div class="card-body">
            <h5 class="card-title" style="min-height:10px">
              <% if racedate != '' %>
                <span class="float-sm-left">Race Date: <%= racedate %></span>
              <% end %>
              <span style="font-size:.75em;"><a class="float-sm-right" id="googlecal-link" style="display:none" target="_blank" href="https://support.google.com/calendar/answer/37118?hl=en">
                How to upload to Google Calendar
              </a></span>
            </h5>
            <table class="table table-striped" style="width:100%">
              <thead class="thead-dark">
                <tr>
                  <% for cell in week_header %>
                    <th>
                      <%= cell %>
                   </th>
                 <% end %>
                </tr>
              </thead>
              <tbody>
                <% for row in rows %>
                 <tr>
                   <% for cell in row %>
                     <td>
                       <%= cell %>
                    </td>
                  <% end %>
                </tr>
               <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"
    </div>
  </body>
</html>
